# Configuration
python-dotenv==1.0.1
pydantic==1.10.7

# Asynchronous Libraries & I/O
aio-pika==9.5.3
aiofiles==24.1.0
redis==4.5.4

# Bloom Filter
pybloom-live==4.0.0

# Metrics
prometheus_client==0.16.0

# FastAPI
fastapi==0.115.2
uvicorn==0.30.6

# Testing
pytest==7.4.0
pytest-mock==3.11.1
